/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  margin: 0 auto;
  background-color: #d3d3d3;
}

a {
  text-decoration: none;
}

.text {
  margin:10px 0px;
  padding:10px 20px 20px 20px;
}

table, th, td {
  border-collapse: collapse;
  padding: 5px 10px;
  margin: 5px 10px;
}
/* book_showのテーブル幅指定はviewに直書きしてあります かなしみ */

input {
  margin: 10px;
}



/* ベース設定 */
 .base {
  padding:0 auto;
  margin: 10px;
  max-width: 90%;
  background-color:#fff;
  border-width: 1px 1px;
  border-style: solid;
}

/* メニュー設定 */
.menu {
  position: relative;
  background-color: gold;
  margin: 0 auto;
  padding: 10px;
  list-style: none;
  text-align: left;
}

.menu li {
  background-color: gold;
  display: inline-block;
  padding: 0px 10px;
}

.menu a {
  text-decoration:none;
}

.commentarea {
  background-color: #ffffe0;
  margin: 0px 10px 15px 10px;
  padding: 10px;
}






